:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    --main-blue-color: #171B60;
    --main-pupple-color: #8F85CF;
    /* --secondary-blue-color: #3b82f6;
    --secondary-pupple-color: #c7d2fe; */
}


.bg-main-blue {
    background-color: var(--main-blue-color);
}

.bg-main-pupple {
    background-color: var(--main-pupple-color);
}

.text-main-blue {
    color: var(--main-blue-color);
}

.text-main-pupple {
    color: var(--main-pupple-color);
}

.bg-gradient-main {
    background: linear-gradient(-0.55turn,
            #ffffff 0%,
            #ffffff 20%,
            var(--main-pupple-color) 50%,
            var(--main-pupple-color) 50%,
            var(--main-blue-color) 80%,
            var(--main-blue-color) 20%);
}

@import "tailwindcss"; 
